body{
    min-height:  100px;
    align-items: center;
    justify-content: center;
    background-color: #777;
    background-image: url('bckgrnd.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial;

}

/* start nav bar */
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color: black;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.bar{
    margin-right: 10%;
}
.nav .logo{
    float: left;
    width: 60%;
}
.nav .logo h2{
    float: left;
    padding-left: 3%;
    margin-top: 20px;
    font-style: italic;
    font-size: 35px;
}
.nav .logo img{
    width: 80px;
    margin-left: 30%;
    float: left;

}
.nav ul{
    display: inline-block;
    list-style-type: none;
}
.nav ul li{
    margin-right: 30px;
    margin-top: 25px;
    padding-right: 10px;
    float: left;
    color: white;
    font-size: large;
    font-weight: bold;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    padding: 7px 10px 7px 10px;

}
.nav ul li a:hover{
    background-color:#45757e;
    border-radius: 20px;
}
.nav ul li a.active{
    background-color: #45757e;
    border: 1px solid transparent #45757e;
    border-radius: 20px
}
/* end nav bar */

.container{
    width: 30%;
    background-color: rgb(255, 255, 255);
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    margin:100px auto;

}
.container .form {
   text-align: center;

}

.container .form .form-content .signup-form {
    border: none;
    margin-top: 10px;
}

.container .form .form-content .signup-form input{
    margin-top: 20px;
    border-color: #25c16f;
    outline: 0;
    position: relative;
    border-left: 0px ;
    border-right: 0px ;
    border-top: 0px ;
    border-bottom: 2px solid #e0e6e8;
    width: 200px;
}
.container .form .form-content .signup-form .submit-button input{
    margin-bottom: 10px;
    height: 35px;
    width: 100px;
    border-radius: 20px;
    background-color: #2682FF;
    color: #fff;
    font-weight: bold;


}
.container .form .\'title{
    font-size: 30px;
    font-weight: bold;

}
.container .form .form-content .user-icon img {
    width: 100px ;
    height: 100px;
}


/* start footer */
.footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    margin-top: 0px;
}
.footer ul{
    list-style-type: none;
}
.footer  ul li{
    display: inline-block;
}
.footer ul li a{
    text-decoration: none
}
.footer ul li img{
    width: 25px;
    text-align: center;
}