body
{
    min-height:  100px;
    align-items: center;
    justify-content: center;
    background-color: #777;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial;

}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
}

/* nav */
.bar{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: 55%;

}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40 100px;
    background-color: rgb(0, 0, 0);
    height: 80px;
    position: sticky;
    top: 0px;
    opacity: 0.9;
    z-index: 1;
}
.nav .logo{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    float: left;
    padding-left: 2%;
    margin-top: 25px;
}
.nav ul{
    text-align: center;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 30px;

}
.nav ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
}
.nav ul li a:hover{
    color: rgb(131, 176, 255);
}
.nav .logoo img{
    width: 80px;
    display: flex;
    margin-left: 5%;
    float: left;
}

input[type="radio"] 
{
-webkit-appearance: checkbox; /* Chrome, Safari, Opera */
-moz-appearance: checkbox;    /* Firefox */
-ms-appearance: checkbox;     /* not currently supported */
}

h1{color: black;}

label
{
    width: 200px;
    display: inline-block;
    color: black;
    font-size: large;
    font-weight:bold;
    text-align:left;
}

input
{
    margin-top: 20px;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
}

.box
{
    width: 450px;
    background-color:rgba(255, 255, 255, 0.5);
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    margin-top: 50px;
}

.checkbox2{margin-left: 10px;}
.status{width: 145px;}



.button1
{
    background-color: #2682FF;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin: 4px 2px;
    border: none; 
    margin-top: 45px;
    margin-right: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
}

.button2
{
    background-color: #4d535c;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.button3
{
    background-color: #c71111d8;
    color: white;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

