body{
    min-height:  100px;
    align-items: center;
    justify-content: center;
    background-color: #777;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial;

}
    *{
        margin: 0%;
        padding: 0%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .nav{
        background-color: black;
        height: 80px;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .bar{
        margin-right: 10%;
    }
    .nav .logo{  
        float: left;
        width: 60%;
    }
    .nav .logo h2{
        float: left;
        padding-left: 3%;
        margin-top: 20px;
        font-style: italic;
        font-size: 35px;
    }
    .nav .logo img{
        width: 80px;
        margin-left: 30%;
        float: left;
    
    }
    .nav ul{
        display: inline-block;
        list-style-type: none;
    }
    .nav ul li{
        margin-right: 30px;
        margin-top: 25px;
        padding-right: 10px;
        float: left;
        color: white;
        font-size: large;
        font-weight: bold;
    }
    .nav ul li a{
        text-decoration: none;
        color: white;
        padding: 7px 10px 7px 10px;
    
    }
    .nav ul li a:hover{
        background-color:#2682FF;
        border-radius: 20px;
    }
    .nav ul li a.active{
        background-color: #2682FF;
        border: 1px solid transparent #2682FF;
        border-radius: 20px
    }
    
    input[type="radio"] 
    {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
    }

    h1{color: black;}

    label
    {
        width: 200px;
        display: inline-block;
        color: black;
        font-size: large;
        font-weight: bold;
    }

    input
    {
        margin-top: 20px;
        border-radius: 5px;
        border-width: 1px;
        padding: 5px;
    }

    .box
    {
        width: 450px;
        background-color:rgba(255, 255, 255, 0.5);
        margin: auto;
        color: #FFFFFF;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 15px 15px;
        margin-top: 50px;
    }
    
    .button1
    {
        background-color: rgba(23, 189, 37, 0.63);
        height: 40px;
        width: 120px;
        border-radius: 20px;
        margin: 4px 2px;
        border: none; 
        margin-top: 45px;
        margin-right: 20px;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .button2
    {
        background-color: #bb1f1fad;
        height: 40px;
        width: 120px;
        border-radius: 20px;
        margin: 4px 2px;
        border: none;
        cursor: pointer;
    }
    