body {
    /*display: flex;*/
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    /*background: linear-gradient(135deg, #45757e, #45757e);*/
    background-image: url('bck.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
}

/* nav */
.bar{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: 55%;

}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40 100px;
    background-color: rgb(0, 0, 0);
    height: 80px;
    position: sticky;
    top: 0px;
    opacity: 0.9;
    z-index: 1;
}
.nav .logo{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    float: left;
    padding-left: 2%;
    margin-top: 25px;
}
.nav ul{
    text-align: center;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 30px;

}
.nav ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
}
.nav ul li a:hover{
    color: rgb(131, 176, 255);
}
.nav .logoo img{
    width: 80px;
    display: flex;
    margin-left: 5%;
    float: left;
}
/* end of nav */




.container {
    max-width: 700px;
    margin:100px auto;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 25px 30px;
    border-radius: 20px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
}

.container form .user-details {
    /*display:flex;*/
    /*flex-wrap: wrap;*/
    text-align: left;

}

.container form .input-box {
    margin: 20px 0 12px 0;
    /*width: calc(100% / 2 - 20px);*/
    text-align: center;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

form .button {
    height: 45px;
    margin: 45px 0;

}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #45757e, #45757e);
    /*background: linear-gradient(135deg, #ff0000, #8c5d5d);*/
}

form .button input:hover {
    background: linear-gradient(-135deg, #0000ff, #0015fa);
    /*background: linear-gradient(-135deg, #ff0000, #ff0000);*/
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-button:15px;
        width:100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y:scroll;
    }
    .user-details::-webkit-scrollbar{
        width:5px;
    }
}
/* start footer */
.footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    margin-top: 0px;
}
.footer ul{
    list-style-type: none;
}
.footer  ul li{
    display: inline-block;
}
.footer ul li a{
    text-decoration: none
}
.footer ul li img{
    width: 25px;
    text-align: center;
}
/* end footer */