* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: black;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav .logo {
    float: left;
    width: 60%;
}

.nav .logo h2 {
    float: left;
    padding-left: 4%;
    margin-bottom: 2%;
    margin-top: 20px;
    font-style: italic;
}

.nav .logo img {
    height: 80px;
    width: 70px;
    margin-left: 30%;
    float: left;

}

.nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav ul li {
    margin-right: 30px;
    margin-top: 25px;
    padding-right: 10px;
    float: left;
    color: white;
    font-size: large;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    padding: 7px 10px 7px 10px;

}

.nav ul li a:hover {
    background-color: #45757e;
    border-radius: 20px;
}

.nav ul li a.active {
    background-color: #45757e;
    border: 1px solid transparent;
    border-radius: 20px
}

body {
    /*display: flex;*/
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #45757e, #45757e);
}

.container {
    max-width: 700px;
    margin:100px auto;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 25px 30px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
}

.container form .user-details {
    /*display:flex;*/
    /*flex-wrap: wrap;*/
    text-align: center;

}

.container form .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

form .button {
    height: 45px;
    margin: 45px 0;

}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #45757e, #45757e);
    /*background: linear-gradient(135deg, #ff0000, #8c5d5d);*/
}

form .button input:hover {
    background: linear-gradient(135deg, #ff2020, #fa0000);
    /*background: linear-gradient(-135deg, #ff0000, #ff0000);*/
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-button:15px;
        width:100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y:scroll;
    }
    .user-details::-webkit-scrollbar{
        width:5px;
    }
}