*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color: black;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.nav .logo{  
    float: left;
    width: 60%;
}
.nav .logo h2{
    float: left;
    padding-left: 4%;
    margin-bottom: 2%;
    margin-top: 20px;
    font-style: italic;
}
.nav .logo img{
    height: 80px;
    width: 70px;
    margin-left: 30%;
    float: left;

}
.nav ul{
    display: inline-block;
    list-style-type: none;
}
.nav ul li{
    margin-right: 30px;
    margin-top: 25px;
    padding-right: 10px;
    float: left;
    color: white;
    font-size: large;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    padding: 7px 10px 7px 10px;

}
.nav ul li a:hover{
    background-color:#45757e;
    border-radius: 20px;
}
.nav ul li a.active{
    background-color: #45757e;
    border: 1px solid transparent #45757e;
    border-radius: 20px
}
.slider{
    height:650px;
    width: 100%;
    margin: auto;
    background-image: url("slide1.jpg");
    background-size:cover;
    background-position:center ;
    position: relative;
    animation: slide 15s infinite;
}

@keyframes slide{
    20%{background-image: url("slide2.jpg");}
    40%{background-image: url("slide3.jpg");}
    60%{background-image: url("slide4.jpg");}
    80%{background-image: url("slide5.jpg");}
    100%{background-image: url("slide1.jpg");}
}

 .contact{
    height: 450px;
    display: flex;
    background-color:rgb(255, 255, 255);
 
 }
.box{
    width: 90%;
    max-width: 600px;
    margin-left:10%;
    margin-top:2%;
}
.boxx{
    width: 70%;
    height: 50px;;
    margin-top:1.5%;
    margin-left: 300px;
}
.inputs{
    margin-bottom: 30 px;
    position:relative;
    margin-right:30%;

}
input,textarea{
    width:100%;
    padding: 20px;
    border: 1px solid rgb(122, 122, 122);
    color:  rgb(77, 76, 76);
    background: transparent;
    font-size: 15px;
   

}
label{
    position: absolute;
    left:0;
    top:0;
    padding: 10px;
    color: rgb(77, 76, 76);
    cursor: text;
}

button{
    padding: 10px;
    color: rgb(77, 76, 76);
    outline: none;
    border: 2px solid  rgb(122, 122, 122);
    width:80%;
    cursor: pointer;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}
.footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    margin-top: 0px;
}
.footer ul{
    list-style-type: none;
}
.footer  ul li{
    display: inline-block;
}
.footer ul li a{
    text-decoration: none
}
.footer ul li img{
   width: 25px;
   text-align: center;
}

