*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
}

/* nav */
.bar{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: 55%;

}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40 100px;
    background-color: rgb(0, 0, 0);
    height: 80px;
    position: sticky;
    top: 0px;
    opacity: 0.9;
    z-index: 1;
}
.nav .logo{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    float: left;
    padding-left: 2%;
    margin-top: 25px;
}
.nav ul{
    text-align: center;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 30px;

}
.nav ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
}
.nav ul li a:hover{
    color: rgb(131, 176, 255);
}
.nav .logoo img{
    width: 80px;
    display: flex;
    margin-left: 5%;
    float: left;
}
/* end of nav */

/* slider */
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin:0;
    left: 0;
    animation: 16s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider{
    10%{left:0;}
    20%{left:0;}
    30%{left:-100%;}
    40%{left:-100%;}
    50%{left:-200%;}
    60%{left:-200%;}
    70%{left: -300%;}
    80%{left: -300%;}
    100%{right: -400%;}
}
/* end slider */

/* contact us */
.contact{
    height: 450px;
    display: flex;
    background-color:rgb(255, 255, 255);

}
.box{
    width: 90%;
    max-width: 600px;
    margin-left:10%;
    margin-top:2%;
}
.boxx{
    width: 70%;
    height: 50px;;
    margin-top:1.5%;
    margin-left: 300px;
}
.inputs{
    margin-bottom: 30 px;
    position:relative;
    margin-right:30%;

}
input,textarea{
    width:100%;
    padding: 20px;
    border: 1px solid rgb(158, 157, 157);
    color:  rgb(77, 76, 76);
    background: transparent;
    font-size: 15px;


}
label{
    position: absolute;
    left:0;
    top:0;
    padding: 10px;
    color: rgb(103, 102, 109);
    cursor: text;
}

button{
    padding: 10px;
    color: rgb(103, 102, 109);
    outline: none;
    border: 2px solid  rgb(158, 157, 157);
    width:80%;
    cursor: pointer;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

/* start footer */
.footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    margin-top: 0px;
}
.footer ul{
    list-style-type: none;
}
.footer  ul li{
    display: inline-block;
}
.footer ul li a{
    text-decoration: none
}
.footer ul li img{
    width: 25px;
    text-align: center;
}
/* end footer */